<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/navbar');%>
    <dir class="container"></dir>
    <h1>Features!!!</h1>
</body>
</html>